<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="default" type="File" fileName="logs/app-log.txt" archiveFileName="logs/archives/app-log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7"/>
		</targets>
		<rules>
			<logger name="*" writeTo="default"/>
		</rules>
	</nlog>
  <connectionStrings>
	  <add name="CCMSConn" connectionString="Data Source=172.27.15.103,1433; Initial Catalog=CCMSAutomationTest;Persist Security Info=True;User ID=dev;Password=developers@456"/>

	  <!--<add name="CCMSConn" connectionString="Data Source=172.27.11.108,1433; Initial Catalog=CCMSAutomation;Persist Security Info=True;User ID=ccmsuser;Password=Restore@123" />-->
	<!--<add name="CCMSConn" connectionString="Data Source=10.50.58.55,1433; Initial Catalog=CCMSAutomation_new;Persist Security Info=True;User ID=dev;Password=developers@456" />-->
    <add name="CCMSPortalConn" connectionString="Data Source=172.27.11.108,1433; Initial Catalog=CCMS;Persist Security Info=True;User ID=ccmsuser;Password=Restore@123"/>
  </connectionStrings>
	<appSettings>
		<add key="GoogleApiKey" value="AIzaSyCgkJrEA7UxpdOWfQxlSe5pjkdMyIJhuKE"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
