<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ServiceMode" value="2"/>
    <!-- None = 0, Daily = 1, Interval = 2 -->
    <add key="IntervalMinutes" value="60"/>
    <add key="ScheduledTime" value="09:00"/>
    <add key="EmailFrom" value="automation@fcmb.com"/>
    <add key="EmailTo" value="reuben.adekeye@fcmb.com"/>
    <add key="EmailBcc" value=""/>
    <add key="EmailCc" value=""/>

    <add key="BankInstitutionCode" value="214"/>
    <add key="BankCode" value="000003"/>
    <!--<add key="ICADUsername" value="icad@fcmb.com"/>
    <add key="ICADPassword" value="gLgq*t0KJA7+#bJ#"/>
    <add key="ICADServiceUrl" value="http://192.234.10.220:80/icadservice/"/>-->

    <add key="ICADUsername" value="adewale.balogun@fcmb.com"/>
    <add key="ICADPassword" value="LwU!s~f?4FSbi3e0"/>
    <add key="ICADServiceUrl" value="http://192.234.10.104:86/icadservice/"/>
    
    <add key="FinacleConnection" value="Data Source=FCMBRPT;Persist Security Info=True;User Id=bauser;Password=getbauser_234;"/>
  </appSettings>
  <connectionStrings>
    <add name="ICADConnection" connectionString="Data Source=172.27.11.247;Initial Catalog=IcadService;Persist Security Info=True;User ID=dev;Password=developers;" providerName="System.Data.SqlClient"/>

    <add name="InfopoolDb" connectionString="Data Source=172.27.12.160;Initial Catalog=Infopool;Persist Security Info=True;User ID=dev;Password=developers" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="ebusiness@fcmb.com">
        <network host="172.27.15.18" defaultCredentials="true"/>
        <!-- 172.19.2.252 -->
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
